<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="BUILD.de2a1c65-3279-4fb4-80b9-0a5eaf7185ea" Publisher="CN=Microsoft" Version="1.1.0.0" />
  <Properties>
    <DisplayName>I Love Notes (MSL)</DisplayName>
    <PublisherDisplayName>Microsoft</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ILoveNotes.App">
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.bmp</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileSavePicker">
          <FileSavePicker>
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.bmp</FileType>
              <FileType>.png</FileType>
            </SupportedFileTypes>
          </FileSavePicker>
        </Extension>
        <Extension Category="windows.printTaskSettings" />
      </Extensions>
      <m2:VisualElements DisplayName="ILoveNotes" Description="ILoveNotes (MSL version)" BackgroundColor="#822d46" ForegroundText="light" ToastCapable="true" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="ILoveNotes" Wide310x150Logo="Assets\wideLogo.png" />
        <m2:SplashScreen BackgroundColor="#822d46" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>