<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="5dfdd2c5-f438-4752-b99b-af421f89c45c" Publisher="CN=David" Version="1.1.0.0" />
  <Properties>
    <DisplayName>BadgesAndTiles</DisplayName>
    <PublisherDisplayName>David</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BadgesAndTiles.App">
      <m2:VisualElements DisplayName="BadgesAndTiles" Description="BadgesAndTiles" BackgroundColor="#464646" ForegroundText="light" Square150x150Logo="Assets\LogoSquare.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="Tiles and Badges" Wide310x150Logo="Assets\LogoWide.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>